# Dependency directories
node_modules/
jspm_packages/

# Local databases (SQLite)
*.db
*.db-journal

# Environment variables
.env
.env.local
.env.development.local

# Production build
build/
dist/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp